.custom-button {
  background-color: #192841;
  color: white;
  padding: 12px 24px;
  border: 2px solid #023466;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  max-width: fit-content;
}

.custom-button:hover {
  background-color: white;
  color: #000;
  border-color: #023466;
  text-decoration: none;
}

.custom-button .icon-left {
  margin-right: 8px;
  font-size: 18px;
}

/* Focus & Accessibility */
.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(2, 52, 102, 0.4);
}


.custom-button-reverse {
  background-color: #F26522;
  color: #fff;
  border: 2px solid #1B2A47;
}

.custom-button-reverse:hover {
  background-color: #f0f0f0;
  color: #1B2A47;
}