/* Background container */
.contact-container {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

/* Bluish overlay */
.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 90, 180, 0.4); /* bluish tint */
  z-index: -1;
}

/* Form wrapper */
.contact-form-box {
  padding: 20px;
  width: 100%;
  max-width: 50%;
}

/* Title */
.contact-title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 0;
}

/* Form layout */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input and textarea */
.contact-input,
.contact-textarea {
  width: 100%;
  padding: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  background-color: white;
}




.contact-input:focus,
.contact-textarea:focus {
  border-color: #f16522;
}

/* Button styling */
.contact-submit-button {
  background-color: #f16522;
  color: white;
  padding: 12px 20px;
  border: 2px solid #d9561c;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-submit-button:hover {
  background-color: white;
  color: #d9561c;
  border: 2px solid #d9561c;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .contact-container {
    justify-content: center;
    padding: 20px;
  }

  .contact-form-box {
    padding: 20px;
    max-width: 100%;
  }

  .contact-title {
    font-size: 20px;
  }
}
