.hero-container {
  display: flex;
  flex: 3;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: auto;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hero-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.hero-text-overlay p {
  position: relative;
  top: 32%;
  left: 30%;
  margin: 1%;
  white-space: wrap;
}

.hero-text-1st {
  font-size: 34px;
  font-family: 'Arial', sans-serif;
  color: #00e0b6;
  font-weight: 500;
}

.hero-text-2nd {
  font-size: 48px;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 2%;
}

.hero-text-3rd {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: white;
  font-weight: 400;
}

.hero-button {
  position: absolute;
  border: none;
  background: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.hero-container:hover .hero-button {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out;
  display: block;
}

.hero-button.prev {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.hero-button.next {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
   .hero-button{
    display: none;
   }
  .hero-text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
  }

  .hero-text-overlay p {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: 0;
  }
   
}

@media (max-width: 480px) {
     .hero-button{
    display: none;
   }
  .hero-image {
    height: 30%;
  }

  .hero-text-3rd {
    display: none;
  }

  .hero-text-overlay {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
  }

  .hero-text-overlay p {
    position: static;
    margin: 0;
    width: 100%;
    font-size: 16px;
  }
  .hero-button{
    display: none;
  }
}






