.directors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; /* Positive value for spacing between cards */
  width: 90%;
  background-color: #f8fbfd;
}

.director-card {
  text-align: center;
  width: 200px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.director-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.director-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.director-name {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 600;
  color: #001f5a;
}

.director-position {
  font-size: 13px;
  color: #004080;
  margin-top: 4px;
}


@media (max-width: 500px) {
  .director-card {
    width: 100%;
    max-width: 240px;
  }

  .director-image {
    width: 100px;
    height: 100px;
  }
}
