


.key-members-container {
  padding: 20px;
  width: 72%;
  margin: 0 auto;
  margin-top: 0.5rem;
  
}

.key-members-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.key-member-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.key-member-card:hover {
  transform: scale(1.05);
}

.key-member-photo img {
  width: 100%;
  max-width: 310px;
  height: 300px;
  object-fit: cover;
}

.key-member-details {
  border: 0.2px solid #ddd;
  padding: 20px;
  width: 100%;
  max-width: 280px;
  text-align: left;
  margin-bottom: 2rem;
}

.key-member-details h3 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  color: #333;
}

.key-member-details p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

/* Popup Slide-in */
.menu-bar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 700px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}

.menu-bar.active {
  right: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background: #000;
  color: #fff;
}

.menu-photo {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 3rem;
  object-fit: cover;
}

.menu-bar h3 {
  margin: 20px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #333;
}

.menu-bar p {
  color: #666;
  margin: 5px 0 10px;
}

/* Responsive */
@media (max-width: 786px) {
  .key-members-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .key-member-card {
    gap: 5px;
    border-radius: 0;
  }

  .key-member-photo img {
    max-width: 100%;
    height: auto;
  }

  .key-member-details {
    max-width: 100%;
    padding: 15px;
    text-align: center;
  }

  .key-member-details h3 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }

  .key-member-details p {
    font-size: 0.9rem;
  }

  .menu-bar {
    width: auto;
    margin-top: 4.3rem;
    right: -100%;
  }

  .menu-bar.active {
    right: 0;
  }

  .menu-bar h3 {
    font-size: 1.3rem;
  }

  .menu-bar p {
    font-size: 0.95rem;
  }
}
